/*______________________________________________________________1440______________________________________________________________*/
@media screen and (min-width: 1399px) and (max-width: 1440px) {
  .container {
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(11, 300px);
  }
  .block1 p {
    font-size: 65px;
  }
  .b1t1 {
    padding-left: 80px;
    padding-top: 40px;
  }
  .alina {
    margin-left: 65px;
  }
  .block2 {
    background: url('images/line11440.svg');
  }
  .b2t1 p {
    margin-top: 65px;
    margin-left: 10px;
    font-size: 55px;
    text-align: center;
  }
  /*стили блока со звездами*/
  .stars {
    width: 540px;
    height: 300px;
    background: url('images/stars1440.svg');
    animation: stars1440 0.7s steps(1) infinite;
  }
  @keyframes stars1440 {
    0% {background-position: 0 0;}
    50% {background-position: -540px 0;}
    100% {background-position: -1080px 0;}
    }
  /*стили с солнцем*/
  .b7t1 p {
    padding-top: 25px;
    padding-left: 50px;
    font-size: 60px;
  }
  .phone {
    margin-left: 160px;
  }
  /*стили слез*/
  .tears {
    height: 280px;
    width: 390px;
    background: url('images/tears1440.svg');
    animation: tears1440.7s steps(1) infinite;
  }
  @keyframes tears1440 {
    0% {background-position: 0 0;}
    5% {background-position: -360px 0;}
    10% {background-position: -720px 0;}
    15% {background-position: -1080px 0;}
    20% {background-position: -1440px 0;}
    25% {background-position: -1800px 0;}
    30% {background-position: -2160px 0;}
    35% {background-position: -2520px 0;}
    40%  {background-position: -2880px 0;}
    45%  {background-position: -3240px 0;}
    50%  {background-position: -3960px 0;}
    55%  {background-position: -4320px 0;}
    60%  {background-position: -4680px 0;}
    65%  {background-position: -5040px 0;}
    70%  {background-position: -5400px 0;}
    75%  {background-position: -5760px 0;}
    80%  {background-position: -6120px 0;}
    85%  {background-position: -6840px 0;}
    90%  {background-position: -7200px 0;}
    95%  {background-position: -7200px 0;}
    100%  {background-position: -7200px 0;}
  }
  .happyhearts {
    margin-left: -28px;
  }
  /*стили горящего сердца*/
  .fireheart {
  margin-left: 35px;
  }
  /*стили черных сердец*/
  .blackhearts {
    width: 360px;
    height: 600px;
    display: block;
    background: url('images/blackheart1440.svg');
    animation: bheart1440 0.8s steps(1) infinite;
  }
  @keyframes bheart1440 {
    0% {background-position: 0 0;}
    16% {background-position: -360px 0;}
    32% {background-position: -720px 0;}
    48% {background-position: -1080px 0;}
    64% {background-position: -1440px 0;}
    80% {background-position: -1800px 0;}
    }
}
/*______________________________________________________________1280______________________________________________________________*/
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
    grid-template-columns: repeat(11, 160px);
    grid-template-rows: repeat(11, 250px);
  }
  *стили 2 блока (надпись)*/
  .block2 {
    background: url('images/line11280.svg');
  }
  .b2t1 p {
    font-size: 50px;
  }
  /*стили слез*/
  .tears {
    width: 320px;
    height: 250px;
    background: url('images/tears1280.svg');
    animation: tears1280.7s steps(1) infinite;
  }
  @keyframes tears1280 {
    0% {background-position: 0 0;}
    5% {background-position: -320px 0;}
    10% {background-position: -640px 0;}
    15% {background-position: -960px 0;}
    20% {background-position: -1280px 0;}
    25% {background-position: -1600px 0;}
    30% {background-position: -1920px 0;}
    35% {background-position: -2240px 0;}
    40%  {background-position: -2560px 0;}
    45%  {background-position: -2880px 0;}
    50%  {background-position: -3200px 0;}
    55%  {background-position: -3520px 0;}
    60%  {background-position: -3840px 0;}
    65%  {background-position: -4160px 0;}
    70%  {background-position: -4480px 0;}
    75%  {background-position: -4800px 0;}
    80%  {background-position: -5120px 0;}
    85%  {background-position: -5440px 0;}
    90%  {background-position: -5760px 0;}
    95%  {background-position: -5760px 0;}
    100%  {background-position: -5760px 0;}
  }
  /*стили долларов*/
  .block6 {
    background: url('images/money11280.svg');
  }
  .block6:hover {
    background: url('images/money21280.svg');
  }
}

/*______________________________________________________________834______________________________________________________________*/
@media screen and (max-width: 834px) {
  .container {
    display: grid;
      grid-template-columns: repeat(2, 417px);
      grid-template-rows: repeat(24, 1fr);
      gap: 0px 0px;
      grid-template-areas:
      "block1 block1 block1 block1"
      "block1 block1 block1 block1"
      "block1 block1 block1 block1"
      "block2 block2 block3 block3"
      "block2 block2 block3 block3"
      "block4 block4 block6 block6"
      "block4 block4 block5 block5"
      "block7 block7 block7 block7"
      "block7 block7 block7 block7"
      "block9 block9 block9 block9"
      "block9 block9 block9 block9"
      "block8 block8 block10 block10"
      "block8 block8 block10 block10"
      "block8 block8 block10 block10"
      "block11 block11 block11 block11"
      "block11 block11 block11 block11"
      "block11 block11 block11 block11"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block12 block12 block12 block12"
      "block13 block13 block14 block14"
      "block13 block13 block14 block14"
      "block13 block13 block14 block14"
      "block15 block15 block15 block15"
    }
    .happyhearts {
    margin-left: 300px;
  }


    .b2t1 p {
    margin-top: 102px;
    }

    .block5 {
      background: url('images/face1834.svg');

    }
    .block5:hover {
      background: url('images/face2834.svg');
    }
  }
